@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-slate-950 text-white;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.spin-slow {
    animation: spin 3s linear infinite;
    transform-origin: center;
}